<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Money For Travel - 여행 예산을 결정하신 분!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="/stylemoney.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</head>
<body>

<form method="POST">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <h1 class="mb-5">여행 예산을 입력해주세요</h1>
                        <div class="row">
                            <div class="col">
                                <input name="money" type="number" class="form-control form-control-lg" id="emailAddress" placeholder="여행 예산 입력칸" required/>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary btn-lg" id="submitButton" type="button" onclick="submitForm()">확인</button>
                            </div>
                        </div>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">예산이 성공적으로 입력되었습니다.</div>
                                <p>아래로 내려가 다음 선택 사항을 선택해주세요.</p>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">메시지 전송 중 오류 발생!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="result" class="text-center mt-3"></div>

    <section class="features-icons bg-light text-center" id="fu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-location-dot" style="color: #005eff;"></i>
                </div>
                <h3>지역 선택</h3>
                <p id="areafont">
                    (강원도, 경기도, 경상남도, 경상북도, 광주광역시, 대구광역시, 부산광역시, 서울특별시, <br>울산광역시, 인천광역시, 전라남도, 전라북도, 제주특별자치도, 충청남도, 충청북도 중)
                </p>
                <p>
                    <input id="playarea" name="area" placeholder="여행지를 입력해주세요" required>
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-calendar-days" style="color: #0d6efd;"></i>
                </div>
                <h3>여행 월</h3>
                <p id="areafont">
                    여행을 가고자 하는 월을 선택해주세요!<br>(1월~12월)<br>숫자만 입력해 주세요!
                </p>
                <input id="playmonth" name="month" placeholder="여행갈 월을 입력해주세요(1~12월)" required>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-bed" style="color: #0d6efd;"></i>
                </div>
                <h3>숙박 여부</h3>
                <p id="areafont">
                    숙박 선택 가능일은 0일에서 <br>최대 5일까지 입니다!<br>숫자만 입력해 주세요!
                </p>
                <input id="playnight" name="night" placeholder="몇일동안 숙박하실지 정해주세요(0~5일)" required>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-bed" style="color: #0d6efd;"></i>
                </div>
                <h3>숙박 장소</h3>
                <p id="areafont">
                    숙박하실 장소를 입력헤주세요<br>(호텔, 콘도, 캠핑장, 기타숙박)
                </p>
                <input id="playnightplace" name="nightplace" placeholder="숙박하실 장소를 입력헤주세요" required>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-bowl-food" style="color: #0d6efd;"></i>
                </div>
                <h3>식음료</h3>
                <p id="areafont">
                    식사를 몇 끼 하실지 입력해 주세요!<br>(0~15끼)<br>숫자만 입력해 주세요!
                </p>
                <input id="playfood" name="food" placeholder="식사를 몇 끼 하실지 입력해 주세요" required>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-map-location-dot" style="color: #0d6efd;"></i>
                </div>
                <h3>목적 여부</h3>
                <p id="areafont">
                    여행 목적을 입력해 주세요!<br>(스키장, 문화서비스, 관광유원시설, 골프장)
                </p>
                <input id="playgoal" name="goal" placeholder="여행목적을 입력해주세요" required>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <i class="fa-solid fa-cart-shopping" style="color: #0d6efd;"></i>
                </div>
                <h3>쇼핑 여부</h3>
                <p id="areafont">
                    쇼핑 여부를 입력해 주세요!<br>(면세점, 레저용품쇼핑, 대형쇼핑몰)
                </p>
                <input id="playgoal" name="shop" placeholder="쇼핑 여부를 입력해주세요" required>
            </div>
        </div>

        <div class="dis" style="font-size: 20px; margin-top: 23px;">
            <button class="btn btn-primary btn-lg px-4 me-sm-3">최종 제출</button>
        </div>
    </section>
</form>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

